<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-5">
            <h1>&nbsp;&nbsp;&nbsp;Help with a<a href="https://www.defendukraine.org/donate">DONATION</a>!</h1>
        </div>
        <!-- nav  -->
        <div class="col-lg-5">
            <a routerLink="offers">Offers</a>
            <a routerLink="about">About us</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/share.php?u=http://localhost:4200/&t=Ukrainians Needs YOUR HELP !" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://api.whatsapp.com/send/?text=Ukrainians Needs YOUR HELP !+http://localhost:4200/&type=custom_url&app_absent=0" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://t.me/share?url=https://core.telegram.org/widgets/share&text=Ukrainians Needs YOUR HELP !" target="_blank"><i class="bi bi-telegram"></i></a>
            <a href="https://twitter.com/intent/tweet?url=http://localhost:4200/&text=Ukrainians Needs YOUR HELP !" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</div>