<div class="banner">
    <div class="content">
        <h2>
            Ukrainians Needs
        </h2>
        <h1>
            <b>Your Help</b>
        </h1>
        <h3 class="mb-5">
            We build strength, stability, and self reliance<br> through shelter. 
        </h3>
        <a routerLink="dashboard">HELP NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>We help those who no longer have a home</h1>
                <a routerLink="about"> Read more <i class="bi bi-arrow-right"></i> </a>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox2">
                <h1>Join our community to help those fleeing the war</h1>
                <a routerLink="sign-up"> Offer refuge <i class="bi bi-arrow-right"></i> </a>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Thanks for everything you decide to do</h1>
                <a href="https://www.defendukraine.org/donate"> Donate now <i class="bi bi-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</div>

<div class="box mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1 content-position">
                <div class="welcome-content">
                    <header>
                        <h2 class="entry-title">
                            Our Goal
                        </h2>
                    </header>
                    <a routerLink="about">Read More</a>
                
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2 text-center content-position">
                <img src="../../../assets/img/Ukraine-refugees-ODA-3-development-matters.jpg" height="450">
            </div>
        </div>
    </div>
</div>