<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Following the current conflict between Russia and Ukraine and, in particular, the invasion
        in Ukraine, which took place in February 2022, the latter produced five
        millions of refugees and six million internally displaced people, almost
        a quarter of the population. There have been many countries that have taken action to
        welcome the numerous refugees: Poland welcomed two and a half million
        of migrants; Hungary welcomed 340,000, the European Union granted
        Ukrainians have the opportunity to apply for political asylum for one year, giving
        they have the right to live, work and receive medical assistance in the countries of the Union.
        In view of the current dramatic situation, the objective is that
        project idea intends to ask is to lend help to all those people
        Ukrainians who need to find asylum in Italy, through realization
        of a Web App that is able to manage temporary hospitality requests,
        who arrive in Italy by Ukrainian refugees and, at the same time,
        it intends to organize the availability of several Italian families,
        ready to offer hospitality to the Ukrainian people in their own homes.
    </p>

</div>